.hero
  .hero-inner
    = link_to root_url, class: 'hero-logo' do
      = image_tag 'rubito.png'
    .hero-copy
      %h1 Madrid.rb
      %p Mixing Ruby with beer on a monthly basis since 2006
    %button Learn More
