%h1= link_to @meeting.title, @meeting
= render partial: 'comments/comment', collection: @meeting.comments
- if policy(@comment).create?
  = render 'meetings/comments/form', meeting: @meeting, comment: @comment
