.comment
  .comment-image
    %img{:alt => "", :src => "https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png"}
  .comment-content
    %h1= comment.user_name
    %p= comment.body
    %p.comment-detail= l comment.created_at if comment.created_at
    %p= link_to 'Delete', meeting_comment_path(meeting, comment_counter), method: :delete
