header .title {
  font-size: 1.8em;
  font-weight: 700;
  letterspacing: 4px;
}

nav {
  border-bottom: 1px solid $base-border-color;
  margin: em(30) 0;

  ul {
    display: inline-block;
    margin-bottom: em(10);

    li {
      display: inline-block;
      &:before {
        content: '|';
        margin: 0 .3em;
      }
    }
  }
}
