%nav
  %ul
    - if user_logged_in?
      = link_to 'Log out', session_path, method: :delete, id: 'log-out', class: :login
      = link_to current_user.name, current_user, class: :login
    - else
      = link_to 'Sign up', new_user_path, class: 'sign-up', id: 'sign-up'
      = link_to 'Log in', new_session_path, class: :login, id: 'log-in'
